@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.card{
    top: -10px;
    right: 0px;
    position: absolute;
    width: 300px;
    height: 290px;
    /* background-color: white; */
    z-index: 9999;
    color: white;
    font-size: 16px;
}

.quizz{
    /* color: black; */
    z-index: 10001;
    /* background-color: blue accent-2; */
}
                     
.multiple-choice{
    z-index: 10002;
}

.next{  
    z-index: 10000;
    background-color: #1976d2 !important;
}

.again{
    margin-top: 20px;
}

.btn{
    background-color: #1976d2 !important;
}

.liitem{
    color: #2979ff;
    cursor: pointer;
    width: 300px;
}

.introEnd{
    margin-top: 50px;
    height: 140px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.scoring{
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    bottom: 0px;
    /* margin-top: 10px;  */
}

.score{
    margin-right: 30px;
    font-size: 20px;
}

/* collection-item liitem */

.disabledContent{
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;

    width: 300px;
    padding: 10px;
    color: #2979ff;
    font-size: 18px;

    cursor: not-allowed;
    pointer-events:none;
}


.neutral{
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
    
    width: 300px;
    padding: 10px;
    color: #2979ff;
    font-size: 17px;
    cursor: pointer;
}

.right{
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
    
    width: 300px;
    padding: 10px;
    color: green;
    font-size: 18px;
}

.wrong{
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
    
    width: 300px;
    padding: 10px;
    color: red;
    font-size: 18px;
}

.opacityStyle{
    opacity: 0;
}